@import "tailwindcss";

:root {
  /* Light Steel paleta */
  --steel-50: #f8f9fa;
  --steel-100: #e9ecef;
  --steel-200: #dee2e6;
  --steel-300: #ced4da;
  --steel-400: #adb5bd;
  --steel-500: #6c757d;
  --steel-600: #495057;
  --steel-700: #343a40;
  --steel-800: #212529;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  color: #212529;
  background: #ffffff;
    height: 100%;
}


.snap-block {
  scroll-snap-align: start;
}